# -*- nginx -*-
#
# This sample file starts 3 virtual machines and 3 networks:
# ---------------------------------------------------------
# - smc
# - 2 nodes cluster engine
#
# the 'mgtnw1' network is used for the smc/engine communication. It is
# also used for communication with the outside if needed.
# it has a dhcp server and ip addresses are reserved.
#
# the 'nw2' and 'nw3' networks are only connected to the engine
# nodes. They simulate an internal and an external zone.


# start_cmd "sudo ip route add 10.0.2.0/24 via 172.17.0.2";
# start_cmd "sudo ip route add 192.168.202.0/24 via 172.17.0.2";
# stop_cmd "sudo ip route del 10.0.2.0/24 via 172.17.0.2";

# docker "ngfw16097" {
#     mount "/data/qemu/NGFW-16097";
#     mount "/data/qemu/base";
#     start_cmd "iptables -t nat -A POSTROUTING -o eth0 -j MASQUERADE";
# }


# ======================================================================
# network
# ======================================================================

network "mgtnw1" {
    bridge.name="mgtnw1"
    forward.mode=route
    ip.address=192.168.202.1
    ip.netmask=255.255.248.0
    ip.dhcp.range {start=192.168.202.100 end=192.168.202.253}
    ip.dhcp.host  {mac=52:54:00:00:01:07  ip=192.168.202.161}
    ip.dhcp.host  {mac=52:54:00:00:01:0B  ip=192.168.202.192}
    ip.dhcp.host  {mac=52:54:00:00:01:0C  ip=192.168.202.193}
}

network "nw2"{
    bridge.name="nw2"
}

network "nw3"{
    bridge.name="nw3"
}


# ======================================================================
# vms
# ======================================================================
vm_defaults {
    ram  4000;
    graphics "spice,listen=0.0.0.0";
    noautoconsole;
}

vm "smc7" {
    ram  6000;
    vcpus 4;
    network {network=mgtnw1 mac=52:54:00:00:01:07 model=e1000}
}

vm "fw1node1" {
    network  {network=mgtnw1 mac=52:54:00:00:01:0B model=e1000}
    network  {network=nw2    mac=52:54:00:00:02:0B model=e1000}
    network  {network=nw3    mac=52:54:00:00:03:0B model=e1000}
}

vm "fw1node2" {
    network  {network=mgtnw1 mac=52:54:00:00:01:0C model=e1000}
    network  {network=nw2    mac=52:54:00:00:02:0C model=e1000}
    network  {network=nw3    mac=52:54:00:00:03:0C model=e1000}
}
